@charset "UTF-8";
html {
	padding: 0;
	margin: 0;
	font-family: sans-serif;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

body {
	padding: 0;
	margin: 0;
	line-height: 1;
}

h1, h2, h3, h4, h5, h6 {
	margin-top: 0;
	font-weight: normal;
}

p {
	margin-top: 0;
	font-weight: normal;
	margin-top: 0;
}

* {
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

form {
	padding: 0;
	margin: 0;
}

ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

li {
	padding: 0;
	margin: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
	display: block;
}

audio, canvas, progress, video {
	display: inline-block;
	vertical-align: baseline;
}

audio:not([controls]) {
	display: none;
	height: 0;
}

[hidden], template {
	display: none;
}

a {
	background-color: transparent;
}

a:active, a:hover {
	outline: 0;
}

abbr[title] {
	border-bottom: 1px dotted;
}

b, strong {
	font-weight: bold;
}

dfn {
	font-style: italic;
}

mark {
	background: #ff0;
	color: #000;
}

small {
	font-size: 80%;
}

sub {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

img {
	border: 0;
}

svg:not(:root) {
	overflow: hidden;
}

figure {
	margin: 1em 40px;
}

hr {
	box-sizing: content-box;
	height: 0;
}

pre {
	overflow: auto;
}

code, kbd, pre, samp {
	font-family: monospace, monospace;
	font-size: 1em;
}

button, input, optgroup, select, textarea {
	color: inherit;
	font: inherit;
	margin: 0;
}

button {
	overflow: visible;
	text-transform: none;
}

select {
	text-transform: none;
}

button, html input[type="button"] {
	-webkit-appearance: button;
	cursor: pointer;
}

input[type="reset"], input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}

button[disabled], html input[disabled] {
	cursor: default;
}

button::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input {
	line-height: normal;
}

input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input[type="checkbox"], input[type="radio"] {
	padding: 0;
}

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

input[type="search"] {
	-webkit-appearance: textfield;
	box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}

legend {
	border: 0;
	padding: 0;
}

textarea {
	overflow: auto;
}

optgroup {
	font-weight: bold;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

td, th {
	padding: 0;
}

* {
	box-sizing: border-box;
}

*:before, *:after {
	box-sizing: border-box;
}

html {
	font-size: 10px;
	-webkit-tap-highlight-color: transparent;
}

body {
	font-size: 14px;
	color: #333;
	background-color: #fff;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}

a {
	text-decoration: none;
}

figure {
	margin: 0;
}

img {
	vertical-align: middle;
}

.group:after, .contain:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.embed-responsive {
	position: relative;
	display: block;
	width: 100%;
	padding: 0;
	overflow: hidden;
}

.embed-responsive::before {
	display: block;
	content: "";
}

.embed-responsive-21by9::before {
	padding-top: 42.857143%;
}

.embed-responsive-16by9::before {
	padding-top: 56.25%;
}

.embed-responsive-4by3::before {
	padding-top: 75%;
}

.embed-responsive-1by1::before {
	padding-top: 100%;
}

.embed-responsive iframe {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 0;
}

.swiper-button-disabled {
	opacity: 0 !important;
}

.swiper-button:focus {
	outline: none;
}

@media only screen and (max-width: 1199px) {
	.contain {
		max-width: 970px;
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 991px) {
	.contain {
		max-width: 750px;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width: 767px) {
	.contain {
		max-width: 600px;
	}
}

@media only screen and (max-width: 640px) {
	.contain {
		max-width: 530px;
	}
}

@media only screen and (max-width: 570px) {
	.contain {
		width: 100%;
		max-width: 100%;
		padding-left: 15px;
		padding-right: 15px;
	}
}

@media only screen and (max-width: 320px) {
	body, body > * {
		width: auto;
		min-width: 320px;
	}
}

@media only screen and (min-width: 1080px) {
	.main-mnu {
		display: block !important;
	}
	.hidden-mnu {
		display: none;
	}
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

button {
	border: none;
	outline: none;
}

textarea:hover, textarea:active, textarea:focus {
	outline: none;
}

body {
	font-family: 'Montserrat', sans-serif;
	font-weight: normal;
	font-size: 16px;
	position: relative;
	min-height: 100vh;
	background-color: #EFEEF0;
}

body.ohi {
	overflow: hidden;
}

.wrapper {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	min-height: 100vh;
}

.main {
	-webkit-flex-grow: 1;
	    -ms-flex-positive: 1;
	        flex-grow: 1;
}

.contain {
	max-width: 1440px;
	padding: 0 15px;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

.lcpadding {
	padding-left: calc((100% - 1180px)/2);
}

@media only screen and (max-width: 1199px) {
	.lcpadding {
		padding-left: calc((100% - 970px)/2);
	}
}

@media only screen and (max-width: 991px) {
	.lcpadding {
		padding-left: calc((100% - 750px)/2);
	}
}

@media only screen and (max-width: 767px) {
	.lcpadding {
		padding-left: calc((100% - 600px)/2);
	}
}

@media only screen and (max-width: 640px) {
	.lcpadding {
		padding-left: calc((100% - 530px)/2);
	}
}

@media only screen and (max-width: 570px) {
	.lcpadding {
		padding-left: 15px;
	}
}

.cpadding {
	padding-left: calc((100% - 1180px)/2);
	padding-right: calc((100% - 1180px)/2);
}

@media only screen and (max-width: 1199px) {
	.cpadding {
		padding-left: calc((100% - 970px)/2);
		padding-right: calc((100% - 970px)/2);
	}
}

@media only screen and (max-width: 991px) {
	.cpadding {
		padding-left: calc((100% - 750px)/2);
		padding-right: calc((100% - 750px)/2);
	}
}

@media only screen and (max-width: 767px) {
	.cpadding {
		padding-left: calc((100% - 600px)/2);
		padding-right: calc((100% - 600px)/2);
	}
}

@media only screen and (max-width: 640px) {
	.cpadding {
		padding-left: calc((100% - 530px)/2);
		padding-right: calc((100% - 530px)/2);
	}
}

@media only screen and (max-width: 570px) {
	.cpadding {
		padding-left: 15px;
		padding-right: 15px;
	}
}

.rcpadding {
	padding-right: calc((100% - 1180px)/2);
}

@media only screen and (max-width: 1199px) {
	.rcpadding {
		padding-right: calc((100% - 970px)/2);
	}
}

@media only screen and (max-width: 991px) {
	.rcpadding {
		padding-right: calc((100% - 750px)/2);
	}
}

@media only screen and (max-width: 767px) {
	.rcpadding {
		padding-right: calc((100% - 600px)/2);
	}
}

@media only screen and (max-width: 640px) {
	.rcpadding {
		padding-right: calc((100% - 530px)/2);
	}
}

@media only screen and (max-width: 570px) {
	.rcpadding {
		padding-right: 15px;
	}
}

/*modal*/
.modal-overlay {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	overflow-y: scroll;
	z-index: 5;
	display: none;
	background: rgba(45, 40, 40, 0.5);
}

.modal-form__layout {
	height: 100%;
	width: 100%;
	position: relative;
	z-index: 2;
}

.modal-form__block {
	position: absolute;
	top: 5%;
	margin-bottom: 20px;
	left: 50%;
	-webkit-transform: translate(-50%, 0%);
	    -ms-transform: translate(-50%, 0%);
	        transform: translate(-50%, 0%);
	z-index: 6;
	width: 555px;
	background-color: #FFF;
	min-height: 100px;
}

.modal-form__inner {
	position: relative;
}

.modal-close {
	cursor: pointer;
	display: block;
	position: absolute;
	right: 15px;
	top: 15px;
	z-index: 7;
	width: 24px;
	height: 24px;
	background: url("../img/close-w.svg") no-repeat 0 0;
}

/*end modal*/
.header {
	background: #efeef0;
	padding-top: 24px;
	padding-bottom: 25px;
}

.header__row {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-justify-content: flex-end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
}

.header__col-1 {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin-right: auto;
}

.header__logo {
	display: -webkit-inline-flex;
	display: -ms-inline-flexbox;
	display: inline-flex;
	width: 184px;
	-webkit-flex: 0 0 auto;
	    -ms-flex: 0 0 auto;
	        flex: 0 0 auto;
	margin-right: 26px;
}

.header__logo img {
	width: 100%;
	max-width: 100%;
}

.header__cities {
	border: 1px solid #ff7d23;
	border-radius: 100px;
	font-size: 11px;
	color: black;
	height: 29px;
	padding-left: 19px;
	padding-right: 10px;
	-webkit-flex: 0 0 auto;
	    -ms-flex: 0 0 auto;
	        flex: 0 0 auto;
	cursor: pointer;
	display: -webkit-inline-flex;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}

.header__cities:after {
	content: "";
	display: block;
	background-image: url("../img/arr-dw-or.svg");
	background-repeat: no-repeat;
	background-position: center center;
	width: 9px;
	height: 6px;
	margin-left: 23px;
	margin-right: 2px;
}

.header__cont-w {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin-right: 91px;
}

.header__cont-row {
	margin-left: 50 px;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-column-gap: 68px;
	   -moz-column-gap: 68px;
	        column-gap: 68px;
	margin-right: 67px;
}

.header__adress {
	font-size: 14px;
	line-height: 1.4;
	color: #2b2e34;
}

.header__phone {
	font-weight: 600;
	font-size: 14px;
	line-height: 1.4;
	color: #2b2e34;
	display: block;
}

.header__phone:hover {
	text-decoration: none;
}

.whatsapp {
	display: -webkit-inline-flex;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}

.whatsapp:hover {
	text-decoration: none;
}

.whatsapp__icon {
	background: linear-gradient(#60d265 -30%, #4caf50 38.33%);
	box-shadow: rgba(96, 210, 101, 0.5) 0px 5px 10px;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	border-radius: 50%;
	overflow: hidden;
	width: 30px;
	height: 30px;
	-webkit-flex: 0 0 auto;
	    -ms-flex: 0 0 auto;
	        flex: 0 0 auto;
}

.whatsapp__write {
	margin-left: 13px;
	font-size: 14px;
	color: #2b2e34;
}

.whatsapp__write-link {
	font-size: 14px;
	color: #2B2E34;
}

.burger {
	background-image: url("../img/dropdown.svg");
	background-repeat: no-repeat;
	background-position: left top;
	width: 35px;
	height: 35px;
	cursor: pointer;
}

.banner {
	background-image: url("../img/bg-banner.jpg");
	background-repeat: no-repeat;
	background-position: left top;
	padding-top: 124px;
	padding-bottom: 40px;
	background-size: cover;
}

.banner__row {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-justify-content: flex-end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
}

.banner__right {
	width: 66%;
}

.banner__title {
	font-size: 67px;
	line-height: 1.2;
	text-transform: uppercase;
	color: #ebeae9;
	margin-bottom: 32px;
	font-family: "Oranienbaum", serif;
	height: 161px;
}

.banner__ul {
	margin-bottom: 46px;
}

.banner__ul li {
	font-size: 18px;
	color: #ebeae9;
	position: relative;
	padding-left: 54px;
}

.banner__ul li:before {
	content: "";
	display: block;
	position: absolute;
	top: 50%;
	-webkit-transform: translate(0, -50%);
	    -ms-transform: translate(0, -50%);
	        transform: translate(0, -50%);
	left: 0;
	width: 22px;
	height: 3px;
	background-color: #FF7D23;
}

.banner__ul li:not(:last-child) {
	margin-bottom: 32px;
}

.btn {
	display: -webkit-inline-flex;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	height: 65px;
	box-shadow: 0px 4px 20px rgba(255, 125, 35, 0.14), 0px 14px 70px rgba(255, 125, 35, 0.27), inset 0px 1px 0px #F5BB94, inset 0px 2px 0px rgba(255, 255, 255, 0.47);
	border-radius: 7px;
	font-weight: 600;
	font-size: 16px;
	color: #2B2E34;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.3);
}

.btn:hover {
	text-decoration: none;
}

.grad, .btn {
	background: linear-gradient(180deg, #F3B990 2.08%, #FD8837 42.71%);
	box-shadow: 0px 4px 20px rgba(255, 125, 35, 0.14), 0px 14px 70px rgba(255, 125, 35, 0.27), inset 0px 1px 0px #F5BB94, inset 0px 2px 0px rgba(255, 255, 255, 0.47);
}

.banner__btn {
	padding-left: 50px;
	padding-right: 50px;
}

.banner__download {
	margin-top: 57px;
	position: relative;
	padding-left: 240px;
}

.banner__content {
	z-index: 2;
	position: relative;
}

.banner__download-img {
	position: absolute;
	right: -50px;
	bottom: -93px;
	z-index: 0;
	width: 380px;
	height: 551px;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}

.banner__download-img:before {
	content: "";
	display: block;
	position: absolute;
	bottom: -128px;
	left: 109px;
	background: url("../img/line-dashed-1.svg") no-repeat center;
	width: 958px;
	height: 517px;
}

.banner__download-img img {
	position: absolute;
}

.banner__info {
	font-size: 13px;
	line-height: 1.5;
	color: white;
	margin-bottom: 10px;
	font-style: italic;
}

.banner__link {
	color: #ff7d23;
	line-height: 1.5;
}

.apps {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

.apps__item {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin-right: 49px;
}

.apps__col {
	display: block;
	margin-left: 13px;
}

.apps__download {
	display: block;
	font-weight: 700;
	font-size: 14px;
	line-height: 1.6;
	color: white;
}

.apps__browser {
	display: block;
	font-size: 12px;
	line-height: 1.6;
	color: white;
}

.h2 {
	font-family: "Oranienbaum", serif;
	font-size: 55px;
	text-align: center;
	color: #2b2e34;
	margin-bottom: 60px;
}

._white {
	color: #FFF;
}

.services {
	padding-top: 103px;
	padding-bottom: 50px;
	position: relative;
}

.services:before {
	content: "";
	display: block;
	position: absolute;
	top: -145px;
	left: -58px;
	width: 502px;
	height: 628px;
	background: url("../img/tools.png") no-repeat center;
}

.services__h2 {
	margin-bottom: 77px;
}

.services__row {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-justify-content: space-between;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	        flex-wrap: wrap;
}

.service__title {
	font-size: 32px;
	line-height: 1.2;
	color: #2b2e34;
	margin-bottom: 23px;
	font-family: "Oranienbaum", serif;
}

.service__btn {
	border: 1px solid #ff7d23;
	border-radius: 200px;
	height: 30px;
	font-weight: 600;
	font-size: 12px;
	display: -webkit-inline-flex;
	display: -ms-inline-flexbox;
	display: inline-flex;
	color: #ff7d23;
	padding-left: 35px;
	padding-right: 35px;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	transition: 0.5s;
}

.service {
	background: linear-gradient(329.37deg, rgba(213, 120, 57, 0.14) 11.89%, rgba(255, 125, 35, 0) 52.67%), #f8f8f8;
	border-radius: 20px;
	width: calc(33.3333% - 20px);
	height: 300px;
	padding-left: 50px;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: flex-start;
	    -ms-flex-align: start;
	        align-items: flex-start;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	position: relative;
	margin-bottom: 27px;
}

.service:before {
	border-radius: 20px;
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(180deg, #F3B990 2.08%, #FD8837 42.71%);
	box-shadow: 0px 4px 20px rgba(255, 125, 35, 0.14), 0px 14px 70px rgba(255, 125, 35, 0.27), inset 0px 1px 0px #F5BB94, inset 0px 2px 0px rgba(255, 255, 255, 0.47);
	opacity: 0;
	transition: 0.5s;
}

.service:hover {
	text-decoration: none;
}

.service:hover:before {
	opacity: 1;
}

.service:hover .service__btn {
	border: 1px solid #ff7d23;
	height: 30px;
	color: #ff7d23;
	background: #FFFFFF;
}

.service:hover .service__title {
	color: #FFF;
}

.service__title,
.service__btn {
	position: relative;
}

.service__img {
	position: absolute;
	bottom: 0px;
	right: 0px;
}

.price {
	padding-top: 50px;
	padding-bottom: 50px;
}

.price__h2 {
	margin-bottom: 72px;
}

.price__ul {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

.price__li {
	background: #f8f8f8;
	border-radius: 20px;
	color: #2b2e34;
	font-weight: 500;
	font-size: 14px;
	height: 45px;
	display: -webkit-inline-flex;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	padding-left: 35px;
	padding-right: 35px;
	cursor: pointer;
}

.price__li:not(:last-child) {
	margin-right: 15px;
}

.price__li.active {
	background: linear-gradient(#f3b990 2.08%, #fd8837 42.71%);
	color: white;
}

.price__content {
	margin-top: 62px;
}

.price__row {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	margin-left: -15px;
	margin-right: -15px;
}

.price__col {
	width: 50%;
	padding: 0 15px;
}

.price__col table {
	width: 100%;
}

.price__col table tr {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

.price__col table td {
	padding-bottom: 30px;
}

.price__col table td .dots {
	background: url("../img/dot-td.svg") repeat-x left bottom 9px;
}

.price__col table td .dots span {
	background: #EFEEF0;
	padding-right: 5px;
}

.price__col table td:nth-child(1) {
	-webkit-flex-grow: 1;
	    -ms-flex-positive: 1;
	        flex-grow: 1;
}

.price__col table td:nth-child(2) {
	padding-left: 2px;
	text-align: right;
}

.price__table-row {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: flex-end;
	    -ms-flex-align: end;
	        align-items: flex-end;
	margin-bottom: 15px;
	-webkit-justify-content: space-between;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.tabs__content-list-item {
	display: none;
}

.tabs__content-list-item.active {
	display: block;
}

.price__position {
	font-size: 20px;
	line-height: 1.6;
	color: #2b2e34;
}

.price__price {
	font-weight: 600;
	font-size: 20px;
	line-height: 1.6;
	text-align: right;
	color: #ff7d23;
}

.brands {
	padding-top: 43px;
	padding-bottom: 51px;
	position: relative;
}

.brands:before {
	content: "";
	display: block;
	position: absolute;
	left: -783px;
	bottom: -280px;
	width: 1101px;
	height: 688px;
	background: url("../img/line-dashed-2.svg") no-repeat 0 0;
	z-index: -1;
}

.brands__h2 {
	margin-bottom: 23px;
}

.brands__info {
	margin-top: 17px;
	margin-bottom: 60px;
	font-size: 16px;
	line-height: 1.6;
	text-align: center;
	color: #7b7d82;
}

.brands__row {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	        flex-wrap: wrap;
	-webkit-flex: 1 1 auto;
	    -ms-flex: 1 1 auto;
	        flex: 1 1 auto;
	margin-left: -13px;
	margin-right: -13px;
}

.brands__col {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	width: 14.2%;
	padding-left: 13px;
	padding-right: 13px;
	margin-bottom: 18px;
}

.brand {
	height: 106px;
	background: #f8f8f8;
	border-radius: 20px;
	width: 100%;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	padding-left: 13px;
	padding-right: 13px;
}

.courier {
	background-image: url("../img/courier.jpg");
	background-repeat: no-repeat;
	background-position: left top;
	padding-top: 102px;
	padding-bottom: 107px;
	background-size: cover;
}

.courier__h {
	text-align: left;
	margin-bottom: 17px;
}

.courier__text {
	font-size: 16px;
	line-height: 1.6;
	color: white;
	margin-bottom: 37px;
}

.courier__form {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	        flex-wrap: wrap;
	max-width: 690px;
	width: 100%;
	-webkit-justify-content: space-between;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.courier__input-text {
	padding: 0 27px;
	background: none;
	border: 2px solid #534946;
	border-radius: 5px;
	font-size: 14px;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	color: white;
	width: calc(50% - 15px);
	height: 65px;
	font-style: italic;
}

.courier__btn-w {
	margin-top: 15px;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	-webkit-justify-content: space-between;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.courier__btn {
	width: calc(50% - 15px);
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

.courier__explanation {
	font-style: italic;
	font-weight: 500;
	font-size: 12px;
	line-height: 1.3;
	color: white;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	width: calc(50% - 15px);
}

.reviews {
	padding-top: 126px;
	padding-bottom: 60px;
}

.reviews__wrap {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	position: relative;
}

.reviews__wrap:before {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	background: url("../img/reviews-grad-bg.svg") no-repeat 0 0;
	width: 238px;
	height: 507px;
	z-index: 4;
}

.reviews__wrap:after {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	background: url("../img/reviews-grad-bg.svg") no-repeat 0 0;
	-webkit-transform: rotate(180deg);
	    -ms-transform: rotate(180deg);
	        transform: rotate(180deg);
	width: 238px;
	height: 507px;
	z-index: 4;
}

.reviews__row {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	width: 2850px;
}

.review {
	padding: 52px 51px 28px;
	background: #f8f8f8;
	border-radius: 20px;
	box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 19px;
	width: 100%;
	margin-right: 30px;
	position: relative;
}

.review:before {
	content: "";
	display: block;
	position: absolute;
	bottom: -13px;
	left: 50%;
	-webkit-transform: translate(-50%, 0%);
	    -ms-transform: translate(-50%, 0%);
	        transform: translate(-50%, 0%);
	width: calc(100% - 22px);
	height: calc(100% + 19px);
	background: #f8f8f8;
	border-radius: 20px;
	box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 19px;
	z-index: -1;
}

.review__info {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-justify-content: space-between;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.review__person {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

.review__ava {
	width: 60px;
	height: 60px;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}

.review__cont {
	margin-left: 23px;
}

.reviews__slider .slick-track {
	padding-top: 15px;
	padding-bottom: 30px;
}

.reviews__slider .slick-arrow {
	position: absolute;
	z-index: 12;
	border: none;
	font-size: 0;
	bottom: -50px;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	background: linear-gradient(#f3b990 2.08%, #fd8837 42.71%);
	box-shadow: rgba(255, 125, 35, 0.14) 0px 4px 20px, rgba(255, 125, 35, 0.27) 0px 14px 70px, #f5bb94 0px 1px 0px inset, rgba(255, 255, 255, 0.47) 0px 2px 0px inset;
	border-radius: 50%;
	overflow: hidden;
	width: 34px;
	height: 34px;
	align-items: center;
	justify-content: center;
}

.reviews__slider .slick-arrow:before {
	position: absolute;
	content: "";
	display: block;
	background: url("../img/arr-l-white.svg") no-repeat 0 0;
	width: 5px;
	height: 11px;
}

.reviews__slider .slick-arrow li button {
	padding: 0;
	border: none;
}

.reviews__slider .slick-prev {
	left: calc(50% - 40px);
}

.reviews__slider .slick-next {
	right: calc(50% - 40px);
	-webkit-transform: rotate(180deg);
	    -ms-transform: rotate(180deg);
	        transform: rotate(180deg);
}

.reviews__col {
	padding: 0 15px;
	width: 50%;
}

.review__name {
	font-weight: 600;
	font-size: 24px;
	color: #2b2e34;
	margin-bottom: 7px;
	margin-top: 7px;
}

.review__town {
	font-size: 14px;
	color: #737373;
}

.review__stars {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: flex-start;
	    -ms-flex-align: start;
	        align-items: flex-start;
	-webkit-justify-content: flex-end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
	padding-top: 5px;
}

.review__comment {
	margin-top: 37px;
	font-size: 16px;
	line-height: 2.3;
	color: #2b2e34;
}

.reviews__arr-row {
	margin-top: 34px;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}

.adviсe__img-w-2 > img {
	object-fit: cover;
	width: 100%;
	height: 100%;
}

.adviсe {
	padding-top: 113px;
	padding-bottom: 60px;
	background: #efeef0;
}

.adviсe p {
	font-size: 20px;
	line-height: 2.5;
	color: #2b2e34;
}

.adviсe ul {
	margin-top: 51px;
	margin-bottom: 80px;
}

.adviсe ul li {
	font-weight: 500;
	font-size: 24px;
	line-height: 1.8;
	color: #2b2e34;
	margin-bottom: 47px;
	position: relative;
	padding-left: 67px;
}

.adviсe ul li:before {
	position: absolute;
	left: 0;
	top: 2px;
	content: "";
	display: block;
	background: url("../img/check.svg") no-repeat 0px center;
	box-shadow: rgba(255, 125, 35, 0.14) 0px 4px 20px, rgba(255, 125, 35, 0.27) 0px 14px 70px, #f5bb94 0px 1px 0px inset, rgba(255, 255, 255, 0.47) 0px 2px 0px inset;
	border-radius: 50%;
	overflow: hidden;
	width: 40px;
	height: 40px;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-flex: 0 0 auto;
	    -ms-flex: 0 0 auto;
	        flex: 0 0 auto;
}

.adviсe__w {
	margin-top: 60px;
}

.adviсe__img {
	border-radius: 20px;
	margin-right: 30px;
}

.adviсe__img-2 {
	border-radius: 20px;
	margin-left: 30px;
}

.adviсe__title {
	font-weight: 600;
	font-size: 30px;
	line-height: 1.6;
	color: #2b2e34;
	margin-bottom: 22px;
}

.floatright {
	float: right;
}

.floatleft {
	float: left;
}

.advice__btn {
	padding: 0 90px;
}

.menu-gal {
	padding-top: 60px;
	padding-bottom: 148px;
	background: #efeef0;
	position: relative;
}

.menu-gal:before {
	content: "";
	display: block;
	position: absolute;
	right: -366px;
	bottom: 252px;
	width: 870px;
	height: 672px;
	background: url("../img/line-dashed-3.svg") no-repeat 0 0;
}

.menu-gal__row {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	        flex-wrap: wrap;
	-webkit-justify-content: space-between;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.menu-gal__item {
	background: linear-gradient(125.01deg, rgba(255, 125, 35, 0.2) 22.66%, transparent 96.72%), linear-gradient(0deg, rgba(30, 22, 18, 0.59), rgba(30, 22, 18, 0.59));
	border-radius: 20px;
	width: calc(50% - 15px);
	height: 280px;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	margin-bottom: 20px;
	overflow: hidden;
	position: relative;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}

.menu-gal__img {
	object-fit: cover;
	width: 100%;
	height: 100%;
}

.menu-gal__name {
	font-weight: 600;
	font-size: 30px;
	color: white;
	position: absolute;
}

.faq {
	padding-top: 60px;
	padding-bottom: 60px;
}

.faq__row {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-justify-content: space-between;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	margin-top: 60px;
}

.faq__col {
	width: calc(50% - 15px);
}

.accordion-item {
	background: #f8f8f8;
	border-radius: 20px;
	margin-bottom: 15px;
}

.accordion-header {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-justify-content: space-between;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	display: flex;
	width: 100%;
	height: 90px;
	align-items: center;
	padding-left: 42px;
	padding-right: 28px;
	justify-content: space-between;
	color: #777777;
	font-weight: 600;
	font-size: 18px;
	cursor: pointer;
	line-height: 1.4;
	padding-right: 197px;
	position: relative;
}

.accordion-header:before {
	content: "";
	display: block;
	position: absolute;
	right: 28px;
	-webkit-transform: translate(0%, -50%);
	    -ms-transform: translate(0%, -50%);
	        transform: translate(0%, -50%);
	top: 50%;
	background: url("../img/accord-arr.svg") no-repeat 0 0;
	box-shadow: rgba(255, 125, 35, 0.14) 0px 4px 20px, rgba(255, 125, 35, 0.27) 0px 14px 70px, #f5bb94 0px 1px 0px inset, rgba(255, 255, 255, 0.47) 0px 2px 0px inset;
	border-radius: 50%;
	overflow: hidden;
	width: 33px;
	height: 33px;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-flex: 0 0 auto;
	    -ms-flex: 0 0 auto;
	        flex: 0 0 auto;
}

.accordion-header.active-header:before {
	background-image: url("../img/accord-arr-gray.svg");
	box-shadow: inset 0px 1px 0px #DDD7D3, inset 0px 2px 0px rgba(255, 255, 255, 0.47);
}

.accordion-content {
	display: none;
	padding-bottom: 30px;
	font-size: 16px;
	line-height: 2.3;
	color: #2b2e34;
	padding-left: 42px;
	padding-right: 28px;
}

.accordion-content.open-content {
	display: block;
}

.conts {
	background-image: url("../img/bg-cont.jpg");
	background-repeat: no-repeat;
	background-position: left top;
	padding-bottom: 60px;
	padding-top: 60px;
	background-size: cover;
	position: relative;
}

.conts__h2 {
	text-align: left;
}

.conts__w {
	margin-top: 28px;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	margin-bottom: 28px;
}

.conts__col + .conts__col {
	margin-left: 126px;
}

.conts__adress {
	font-size: 28px;
	line-height: 1.4;
	color: white;
}

.conts__phone {
	display: block;
	font-weight: 600;
	font-size: 28px;
	line-height: 1.4;
	color: white;
}

.conts__phone:hover {
	text-decoration: none;
}

.conts__show {
	font-weight: 500;
	font-size: 14px;
	line-height: 1.4;
	-webkit-text-decoration-line: underline;
	        text-decoration-line: underline;
	color: #ff7d23;
	display: block;
}

.conts__ab-posts {
	margin-bottom: 30px;
}

.conts__ab-posts-title {
	font-size: 18px;
	line-height: 1.4;
	color: white;
}

.conts__ab-posts-info {
	font-size: 12px;
	line-height: 2;
	color: white;
}

.conts__btn {
	padding: 0 57px;
}

.conts__row {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: flex-start;
	    -ms-flex-align: start;
	        align-items: flex-start;
}

.conts__left {
	-webkit-flex-grow: 1;
	    -ms-flex-positive: 1;
	        flex-grow: 1;
}

.conts__right {
	width: 388px;
	height: 560px;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	position: relative;
	margin-top: -170px;
}

.conts__right img {
	position: absolute;
}

.footer {
	padding-top: 57px;
	padding-bottom: 25px;
}

.footer__info {
	font-size: 12px;
	line-height: 2;
	color: #818283;
	margin-bottom: 45px;
}

.footer__body {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-justify-content: space-between;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	border-bottom: 1px solid #d5d5d5;
	padding-bottom: 35px;
	margin-bottom: 16px;
}

.foot__logo {
	display: block;
}

.foot__payment-row {
	margin-top: 40px;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin-bottom: 15px;
}

.foot__payment {
	display: block;
	margin-right: 15px;
}

.footer__soc-row {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

.footer__soc {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	width: 18px;
	height: 18px;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	margin-right: 15px;
}

.footer__col-title {
	font-weight: 600;
	font-size: 17px;
	color: #2b2e34;
}

.footer__col-title:not(:last-child) {
	margin-bottom: 37px;
}

.footer__nav-w {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

.foot-nav {
	margin-right: 30px;
}

.footer__nav {
	margin-right: 30px;
}

.footer__nav li:not(:last-child) {
	margin-bottom: 27px;
}

.footer__nav li a {
	font-size: 15px;
	color: #2b2e34;
	display: block;
}

.footer__nav li a:hover {
	color: #FF7D23;
}

.footer__nav li a:hover:hover {
	text-decoration: none;
}

.footer__col-3 {
	text-align: right;
}

.footer__conts-row {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin-bottom: 20px;
	-webkit-justify-content: flex-end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
}

.footer__conts-adress {
	font-size: 16px;
	line-height: 1.4;
	text-align: right;
	color: #2b2e34;
}

.footer__conts-phone {
	display: block;
	font-weight: 600;
	font-size: 16px;
	line-height: 1.4;
	text-align: right;
	color: #2b2e34;
	margin-left: 10px;
}

.footer__bottom {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-justify-content: space-between;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.footer__copy {
	font-weight: 600;
	font-size: 12px;
	line-height: 2;
	color: #2b2e34;
}

.footer__col-mark {
	font-size: 12px;
	line-height: 2;
	color: #2b2e34;
}

.footer__btn {
	font-size: 12px;
	padding-left: 25px;
	padding-right: 25px;
	height: 39px;
}

.completed-slde-dots {
	position: absolute;
	left: 28px;
	bottom: 20px;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

.completed-slde-dots li {
	font-size: 0;
	padding: 0;
	margin: 0;
	display: block;
	border-radius: 50%;
	overflow: hidden;
	width: 10px;
	height: 10px;
	border: 2px solid white;
	background: none;
	margin-left: 6px;
	margin-right: 6px;
	cursor: pointer;
}

.completed-slde-dots li:focus {
	outline: none;
}

.completed-slde-dots li:active {
	outline: none;
	background: none;
}

.completed-slde-dots .slick-active {
	border: 2px solid white;
	background-color: #ffffff;
}

.nobrd {
	border: none;
}

.eye-3 {
	position: fixed;
	top: 0;
	left: 0;
	width: 25px;
	height: 25px;
	background-color: #ccc;
	z-index: 100;
	border-radius: 50%;
}

@media (max-width: 640px) {
	.help-call .measurer-form .btn {
		margin-top: 0;
	}
}

body.active {
	background: url("../img/1920.jpg") no-repeat top 0px center;
}

body.active .wrapper {
	opacity: 0.4;
}

body.active .footer {
	opacity: 0.4;
}

body.active .get {
	opacity: 0.4;
}
